:root {
    --header-text: rgb(3, 3, 120);
    --body-background: rgb(166, 166, 227);
    --header-background: rgb(131, 192, 253);
    --current-weather-bg: rgb(104, 104, 243);
    --white-color: rgb(202, 227, 248);
}
* {
    font-family: 'Barlow', sans-serif;
}
header {
    font-size: 32px;
    font-weight: bold;
    color: var(--header-text);
    background-color: var(--header-background);
}

body {
    background-color: var(--body-background);
    color: #27273d;
}

.curWeather, .futWeather {
    background-color: var(--current-weather-bg);
    color: var(--white-color);
    border-radius: 10px;
}



.curWeather > p {
    padding-bottom: 15px;
    font-size: 24px;
}

.city-name {
    font-size: 36px;
    text-align: center;
    background-color: var(--header-text);
    color: var(--white-color);

    border-radius: 10px;
}