:root {
    --header-text: rgb(3, 3, 120);
    --body-background: rgb(149, 149, 203);
    --header-background: rgb(142, 142, 248);
    --current-weather-bg: rgb(193, 193, 245);
}
* {
    font-family: 'Barlow', sans-serif;
}
header {
    font-size: 32px;
    font-weight: bold;
    color: var(--header-text);
    background-color: var(--header-background);
}

body {
    background-color: var(--body-background);
    color: #27273d;
}

.curWeather {
    background-color: var(--current-weather-bg);
    border-radius: 10px;

}

.curWeather > * {
    padding-bottom: 15px;
    font-size: 24px;
}

.city-name {
    font-size: 48px;
    text-align: center;
    background-color: var(--header-text);
    color: var(--current-weather-bg);
    border-radius: 10px;
    padding-bottom: 10px;
}